/*reset*/
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: black;}
li{list-style: none;}
img{vertical-align: middle;}

html,body{width: 100%; height: 201%; background: url("../images/main_page.png") no-repeat center center; background-attachment: fixed; position: relative; background-size: cover;}
body::-webkit-scrollbar{display: none;}

/*navigation*/
header{position: fixed; height: 80px; background-color: #1e1e1e; width: 100%; z-index: 10; transition: all 500ms; margin-top: -100px; }
#nav_logo_wrapper{line-height: 80px; margin-left: calc(20% - 20px); width: 1200px; position: relative;}
#nav_logo_wrapper>img{height: 60px; cursor: pointer; user-select: none; transition: all 300ms;}
#main_nav{position: absolute; top: 0; right: 0; margin-right: calc(17% - 30px); width: calc(33.333% - 20px); height: 100%;}
#main_nav>ul{position: absolute; line-height: 80px; width: 100%; left: 50%; transform: translateX(-50%);}
#main_nav>ul>li{float: left; padding-right:calc(6% - 20px); padding-left: calc(6% - 20px); color: white;font-family: "oswald_l"; cursor: pointer; user-select: none; font-size: 1rem; letter-spacing: 0.1rem; transition: all 500ms;}
#main_nav>ul>li:hover{background-color: white; color: #1e1e1e;}
#main_nav>ul>li:active{background-color: #ed1c24; color: white;}


/*main_section*/
.main{position: relative; width: 100%; height: 50%; max-height: 25%;}

/*main_title_wrapper*/
.main_title_wrapper{padding-top: 5rem; text-align: center; position: relative;}

/*title_circle_div*/
.title_circle_wrapper{position: absolute; width: 100%; height: 100%; top: 0; transition: all 300ms;}
.title_circle{background-color: white; border-radius: 300px; position: absolute;}
.title_circle_wrapper>div{display: inline-block; animation-name: twinkle; animation-iteration-count: infinite; animation-direction: alternate; opacity: 0.1;}
.tc_18px{width: 18px; height: 18px; animation-duration: 0.75s;animation-delay: 3.5s;}
.tc_16px{width: 16px; height: 16px; animation-duration: 0.5s;animation-delay: 1.4492753623s;}
.tc_14px{width: 14px; height: 14px; animation-duration: 0.6s;animation-delay: 1.4492753623s;}
.tc_12px{width: 12px; height: 12px; animation-duration: 0.6s;animation-delay: 1.4492753623s;}
.tc_10px{width: 10px; height: 10px; animation-duration: 0.5s;animation-delay: 1.0595238095s;}
.tc_6px{width: 6px; height: 6px; animation-duration: 0.75s;animation-delay: 1.4492753623s;}
.tc_4px{width: 4px; height: 4px; animation-duration: 0.5s;animation-delay: 2.625s;}

@keyframes twinkle{0%{opacity: 0.1;} 100%{opacity: 1;}}

/*scroll_down_wrapper*/
.scroll_down_wrapper{margin-top: 7rem; position: relative}
.scroll_down_img_wrapper{position: relative; margin: 0 auto;}
.scroll_down_img_wrapper>img{display: block; position: absolute;left: 50%; transform: translateX(-50%); opacity: 0.4; animation-name: scroll_down; animation-direction: alternate; animation-iteration-count: infinite; animation-duration: 999ms;}
.scroll_down_img_wrapper>img:nth-child(1){animation-delay: 0;}
.scroll_down_img_wrapper>img:nth-child(2){top: 1rem; animation-delay: 333ms;}
.scroll_down_img_wrapper>img:nth-child(3){top: 2rem; animation-delay: 666ms;}
@keyframes scroll_down{0%{opacity: 0.4;} 50%{opacity: 1;} 100%{opacity: 0.4;}}

/*copy_write_wrapper*/
.copy_write_wrapper{font-family: "chosun"; position: absolute; bottom: 5%; left: 50%; transform: translateX(-50%); color: white; text-align: center; letter-spacing: 0.08rem; transition: all 500ms; opacity: 1;}
.copy_write_wrapper>p:first-child{margin-bottom: 20px;}


/*section : info*/
.info{position: relative; width: 100%;   padding-bottom: 5rem; overflow: hidden;}
.info_wrapper{position: relative; overflow: hidden; margin: 0 auto; max-width: 1200px; padding-top: 8rem;}


/*information*/
.information_wrapper{width: 100%; min-height: 120rem; }
.info_map{display: inline-block; width: calc(50% - 20px); padding-right: 2%; float: left; padding-right: 600px; transition: all 2000ms; height: 680px;}
.info_map>img{width: 100%;}
.basic_info_wrapper{display: inline-block; margin: 0 auto; padding-left: 8rem; opacity: 0; transition: all 2400ms;}
.basic_list{color: white; font-family: "chosun"; font-size: 1.15rem; padding-top: calc(10rem - 0.1rem);}
.basic_list>li{margin-bottom: 1.1rem;}
.basic_list>li>span{display: block;}
.basic_list>li>span:first-child{margin-bottom: 0.2rem; font-size: 1.6rem;}
.basic_list>li>span:last-child{padding-left: 2rem; color: #e2e2e2;}
.basic_list>li>span>a{color: #ffcfcf; text-decoration: underline;}

/*weather*/
.weather{position: relative; margin-top: 5rem; overflow: hidden; height: 974px;}
.today_weather{text-align: center; opacity: 0; transition: all 1000ms;}
.weather_img_wrapper>img{width: calc(26% - 20px); animation: sun_rot 12000ms infinite linear;}
@keyframes sun_rot {0%{transform: rotate(0deg);} 100%{transform: rotate(360deg);}}
.degree_wrapper{color: white; font-family: "oswald_l"; margin-top: 2rem; }
.present_degree{font-size: 6rem; letter-spacing: 0.2rem;}
.today_degree{margin-top: 0.6rem; font-size: 2.4rem;}
.weekly_weather_wrapper{position: relative; overflow: hidden;  background-color: rgba(30, 30, 30, 0.6); padding: 1.4rem 0; border-radius: 3rem; margin-top: 900px; transition: all 1000ms;}
.weekly_weather{overflow: hidden; text-align: center;padding-left:16%;}
.weekly_weather>li{float: left; width: 16%;}
.weekly_img{width: 100%; padding: 0 5rem;}
.weekly_img>img{width: 100%;}
.weekly_degree{color: white; font-family: "oswald_l"; font-size: 1.4rem; margin-top: 1.5rem;}
.feeling>img{width:10%;height:10%;margin-top:-5px;}
.feeling{color: white; font-family: "oswald_l"; font-size: 14px; margin-top: 15px;margin-left:-10px;}
/*section_place*/
.grid_title{ font-size: 8rem; font-family: "gyung_l"; color: white; margin-bottom: 3rem; opacity: 0; transition: all 1600ms;}
.place{position: relative; width: 100%;}
.place_wrapper{position: relative; width: 1200px; margin: 0 auto; padding-top: 8rem;}
#grid_place{width: 80%; margin: 0 auto; opacity: 0; transition: all 1400ms;}
.clearfix{height: 4rem; background-color: rgba(30, 30, 30, 0.3); border-radius: 0.3rem;}
.current>a {background-color: rgba(239, 239, 239, 0.4) !important;}
.filter{font-family: "oswald_l"; font-size: 1.4rem; letter-spacing: 0.2rem; transition: all 300ms;}
.wagwep-container ul#portfolio-filter a{color: #a0a0a0;}
.og-grid li>a img {height: 12rem;}
.og-grid li>a .related_photo {height: 8rem;}
.og-grid li>a .related_photo.selected {border: 2px solid tomato;}
.og-grid li a figure{background-color: black; }
.og-grid li a figure span { border-bottom: 4px solid #ed1c24; color: rgba(255,255,255,0.75); font-family: "oswald_r"; font-size: 2rem; letter-spacing: 0.15rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.og-fullimg img {width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.og-expander {background-color: rgba(30,30,30, 0.4); color: white; border-radius: 2rem;}
.elastislide-wrapper {background-color: #CCC; box-shadow: none;}
.og-details>h3 {color: white; font-family: "oswald_r"; letter-spacing: 0.15rem; font-size: 4rem;}
.og-details>p {color: #fafafa; line-height: 1.8rem;}
@media (min-width: 1200px) {
	.og-expander h3 { font-size: 3.6rem; }
	.og-expander p { font-size: 1.75rem; }
	.og-expander a { font-size: 1.8rem; }
}
.og-details a.link-button{font-size: 0.7rem;}
.og-details .infosep {border-bottom:1px solid white;}
.elastislide-wrapper{background-color: transparent;}
.og-close::before {background-color: white; height: 2px;}
.og-close::after {background-color: white; height: 2px;}
.og-close:hover::before {background-color: #ed1c24;}
.og-close:hover::after {background-color: #ed1c24;}  


/*section_food*/
.food_total{position: relative; width: 100%;  padding-bottom: 5rem;}
.food_wrapper{position: relative; width: 1200px; margin: 0 auto; padding-top: 15rem;}
#grid_food{width: 80%; margin: 0 auto; opacity: 0; transition: all 1400ms;}

/*section_gallery*/
.gallery{position: relative; width: 100%;   padding-bottom: 5rem; overflow: hidden; opacity: 0; transition: all 1000ms;}
.gallery_wrapper{position: relative; overflow: hidden; margin: 0 auto; max-width: 1200px; padding-top: 8rem;}
.gallery_wrap *{transition: all 500ms;}
.gallery_wrap{margin: 40px auto; width: 1200px;}
.gallery_thumb{position: relative; padding: 10px; width: 800px; margin: 0 auto;}
.gallery_thumb>img{width: 160px; height: 120px; margin: 10px 10px; cursor: pointer; user-select: none;}
.lightbox_area{margin: 0 auto; position: relative;  padding: 0; border: 0px solid black; height: 600px; width: 900px; transition: all 300ms; overflow: hidden;}

.lightbox_area>#left_btn,.lightbox_area>#right_btn {position: absolute;   top: 50%; transform: translateY(-50%); cursor: pointer; user-select: none; width: 40px; height: 60px; filter: invert(1); transition: transform 300ms;}
.lightbox_area>#left_btn{left: -5px; }
.lightbox_area>#right_btn{right: -5px;}
.lightbox_area>#left_btn:hover{transform: scale(1.2);}
.lightbox_area>#right_btn:hover{transform: scale(1.2);;}

 /*footer*/
footer{ background-color: rgba(20, 20, 20, 0.9); padding: 2rem 0; overflow: hidden; bottom: 0; position: relative; bottom: 0; width: 100%; margin-top: 5rem; }
.footer_wrapper{position: relative; overflow: hidden; margin: 0 auto; max-width: 1200px;}

.footer_logo>img{width: 10%;}
.footer_content_wrapper{color: white; font-size: 0.9rem; text-align: center; font-family: "chosun"; position: absolute; top: 20%; left: 50%;}
.footer_content{display: block; height: 20px; margin-bottom: 0.5rem;}
.footer_content>li{float: left; margin-right: 6px;}
.footer_content_2>p:first-child{margin-bottom: 0.5rem;}

@media only screen and (max-width:360px){
    header{opacity: 0.1;}
    .main_title_wrapper{padding-top: 9em;}
    .main_title_wrapper>img{width: 70%;}
    .title_circle_wrapper{display: none;}
    .copy_write_wrapper{font-size: 0.8rem; width: 100%;}
}